body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image {

	width: 40%;
	padding: 20px;
}
.first-image	{

	float: left;
}

.second-image {

	float: right;
}
